<div class="skeleton-loading">
  <!-- Your skeleton loading template -->
  <div class="skeleton-product">
    <div class="skeleton-product-image"></div>
    <div class="skeleton-product-details">
      <div class="skeleton-product-category"></div>
      <div class="skeleton-product-title"></div>
      <div class="skeleton-product-rating"></div>
      <div class="skeleton-product-price"></div>
    </div>
  </div>

  <div class="skeleton-product">
    <div class="skeleton-product-image"></div>
    <div class="skeleton-product-details">
      <div class="skeleton-product-category"></div>
      <div class="skeleton-product-title"></div>
      <div class="skeleton-product-rating"></div>
      <div class="skeleton-product-price"></div>
    </div>
  </div>

  <div class="skeleton-product">
    <div class="skeleton-product-image"></div>
    <div class="skeleton-product-details">
      <div class="skeleton-product-category"></div>
      <div class="skeleton-product-title"></div>
      <div class="skeleton-product-rating"></div>
      <div class="skeleton-product-price"></div>
    </div>
  </div>


</div>
