<!--=============== MAIN ===============-->
<main class="main">
  <!--=============== HOME  SLIDE===============-->
  <app-slide/>

  <!--=============== CATEGORIES ===============-->
  <app-categories-list/>

  <!--=============== PRODUCTS ===============-->
  <app-product-list [products]="productsList"></app-product-list>

  <!--=============== DEALS ===============-->
  <app-deals/>
  <!--=============== NEW ARRIVALS ===============-->
  <app-package-list [packages]="productsList"></app-package-list>
</main>


















