<section class="home section--lg">
  <div class="home__container container grid">
    <div class="home__content">
      <span class="home__subtitle">Hot promotions</span>
      <h1 class="home__title">
        Fashion Trending <span>Great Collection</span>
      </h1>
      <p class="home__description">
        Save more with coupons & up to 20% off
      </p>
      <a href="shop.html" class="btn">Shop Now</a>
    </div>

    <img src="../../../../../../assets/img/home-img.png" alt="" class="home__img"/>
  </div>
</section>
