<section class="home section--lg">
  <div class="home__container container grid">
    <div class="nav-icons">
      <span class="nav-icon prev-icon" (click)="prevSlide()">&#10094;</span>
      <span class="nav-icon next-icon" (click)="nextSlide()">&#10095;</span>
    </div>
    <div class="home__content">
      <span class="home__subtitle">{{ currentSlide.subtitle }}</span>
      <h1 class="home__title">{{ currentSlide.title }}</h1>
      <p class="home__description">{{ currentSlide.description }}</p>
      <a href="{{ currentSlide.buttonLink }}" class="my-btn">{{ currentSlide.buttonText }}</a>
    </div>
    <img src="../../../../../../assets/img/home-img.png" alt="" class="home__img"/>
  </div>
</section>
