<!--=============== DEALS ===============-->
<section class="deals section">
  <div class="deals__container container grid">
    <div class="deals__item">
      <div class="deals__group">
        <h3 class="deals__brand">Deal of the Day</h3>
        <span class="deals__category">Limited quantities.</span>
      </div>

      <h4 class="deals__title">Summer Collection New Morden Design</h4>

      <div class="deals__price flex">
        <span class="new__price">$139.00</span>
        <span class="old__price">$160.99</span>
      </div>

      <div class="deals__group">
        <p class="deals__countdown-text">Hurry Up! Offer End In:</p>

        <div class="countdown">
          <div class="countdown__amount">
            <p class="countdown__period">02</p>
            <span class="unit">Days</span>
          </div>
          <div class="countdown__amount">
            <p class="countdown__period">22</p>
            <span class="unit">Hours</span>
          </div>
          <div class="countdown__amount">
            <p class="countdown__period">57</p>
            <span class="unit">Mins</span>
          </div>
          <div class="countdown__amount">
            <p class="countdown__period">24</p>
            <span class="unit">Sec</span>
          </div>
        </div>
      </div>

      <div class="deals__btn">
        <a href="details.html" class="btn btn--md">Shop Now</a>
      </div>
    </div>

    <div class="deals__item">
      <div class="deals__group">
        <h3 class="deals__brand">Women Clothing</h3>
        <span class="deals__category">Limited quantities.</span>
      </div>

      <h4 class="deals__title">Try something new on vacation</h4>

      <div class="deals__price flex">
        <span class="new__price">$139.00</span>
        <span class="old__price">$160.99</span>
      </div>

      <div class="deals__group">
        <p class="deals__countdown-text">Hurry Up! Offer End In:</p>

        <div class="countdown">
          <div class="countdown__amount">
            <p class="countdown__period">02</p>
            <span class="unit">Days</span>
          </div>
          <div class="countdown__amount">
            <p class="countdown__period">22</p>
            <span class="unit">Hours</span>
          </div>
          <div class="countdown__amount">
            <p class="countdown__period">57</p>
            <span class="unit">Mins</span>
          </div>
          <div class="countdown__amount">
            <p class="countdown__period">24</p>
            <span class="unit">Sec</span>
          </div>
        </div>
      </div>

      <div class="deals__btn">
        <a href="details.html" class="btn btn--md">Shop Now</a>
      </div>
    </div>
  </div>
</section>
