<div class="tab__content" content id="change-password" [class.active-tab]="data.activeTab === 'changePassword'">
  <h3 class="tab__header">Change Password</h3>

  <div class="tab__body">
    <form action="" class="form grid">
      <input
        type="password"
        placeholder="Current Password"
        class="form__input"
      />

      <input
        type="password"
        placeholder="New Password"
        class="form__input"
      />

      <input
        type="password"
        placeholder="Confirm Password"
        class="form__input"
      />

      <div class="form__btn">
        <button class="my-btn my-btn--md">Save</button>
      </div>
    </form>
  </div>
</div>
