<!--=============== PRODUCTS ===============-->
<section class="products section container">
  <!--<p class="total__products">We found <span>688</span> items for you!</p>-->

  <div class="tab__btns center-element">
    <h3 class="section__title"><span>{{this.GreenTitle}}</span> {{this.BlackTitle}}</h3>
  </div>

  <app-skeleton *ngIf="!showNoProductsMessage && products.length===0"></app-skeleton>
  <app-alert *ngIf="showNoProductsMessage" [message]="'No Product Found'"></app-alert>
  <div class="tab__items">
    <div class="tab__item active-tab">
      <div class="products__container  grid">

        <div class="product__item" *ngFor="let product of products">
          <div class="product__banner">
            <a [routerLink]="'/products/singleProduct/'+product.id"
               class="product__images">
              <img
                [src]="'assets/img/'+product?.productImagePath"
                [alt]="product?.productImagePath"
                class="product__img default"
              />
            </a>

            <div class="product__actions">
              <a [routerLink]="'/products/singleProduct/'+product.id" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>

              <a
                (click)="addToWishlist(product)"
                class="action__btn cursorPointer"
                aria-label="Add To Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>

              <a (click)="addToCart(product)"
                 class="action__btn cursorPointer" aria-label="Add to Cart">
                <i class="fi fi-rs-shopping-bag-add"></i>
              </a>
            </div>

            <div class="product__badge light-pink">{{product?.categoryName}}</div>
          </div>

          <div class="product__content">
            <span class="product__category">{{product?.categoryName}}</span>
            <a href="details.html">
              <h3 class="product__title">{{product?.name}}</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">{{product?.price}} MAD</span>
              <span class="old__price">{{product?.comparePrice}} MAD</span>
            </div>

            <a
              (click)="addToCart(product)"
              class="action__btn cart__btn cursorPointer"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>

  <ul class="pagination" *ngIf="isPaginationShown">
    <li><a href="#" class="pagination__link active">01</a></li>
    <li><a href="#" class="pagination__link">02</a></li>
    <li><a href="#" class="pagination__link">03</a></li>
    <li><a href="#" class="pagination__link">...</a></li>
    <li><a href="#" class="pagination__link">16</a></li>
    <li>
      <a href="#" class="pagination__link icon">
        <i class="fi-rs-angle-double-small-right"></i>
      </a>
    </li>
  </ul>

  <div class="tab__btns center-element" *ngIf="isViewAllProductShown">
          <span (click)="GoToProductsPage()" class="tab__btn active-tab " style="margin-top: 30px"
                data-target="#featured"
          >View More Products</span
          >

  </div>
</section>
