<!--=============== MAIN ===============-->
<main class="main">
  <app-breadcrumb></app-breadcrumb>
  <!--=============== ACCOUNTS ===============-->
  <section class="accounts section--lg">
    <div class="accounts__container container grid">
      <div class="account__tabs">
        <p class="account__tab active-tab" data-target="#dashboard">
          <i class="fi fi-rs-settings-sliders"></i> Dashboard
        </p>

        <p class="account__tab" data-target="#orders">
          <i class="fi fi-rs-shopping-bag"></i> Orders
        </p>

        <p class="account__tab" data-target="#update-profile">
          <i class="fi fi-rs-user"></i> Update Profile
        </p>

        <p class="account__tab" data-target="#address">
          <i class="fi fi-rs-marker"></i> My Address
        </p>

        <p class="account__tab" data-target="#change-password">
          <i class="fi fi-rs-user"></i> Change Password
        </p>

        <p class="account__tab"><i class="fi fi-rs-exit"></i> Logout</p>
      </div>

      <div class="tabs__content">
        <div class="tab__content active-tab" content id="dashboard">
          <h3 class="tab__header">Hello Rosie!</h3>

          <div class="tab__body">
            <p class="tab__description">
              From your account dashboard. you can easily check & view your
              recent orders, manage your shipping and billing addresses and
              edit your password and account details.
            </p>
          </div>
        </div>

        <div class="tab__content" content id="orders">
          <h3 class="tab__header">Your Orders</h3>

          <div class="tab__body">
            <table class="placed__order-table">
              <tr>
                <th>Orders</th>
                <th>Date</th>
                <th>Status</th>
                <th>Total</th>
                <th>Actions</th>
              </tr>

              <tr>
                <td>#1357</td>
                <td>March 45, 2020</td>
                <td>Processing</td>
                <td>$125.00</td>
                <td><a href="#" class="view__order">View</a></td>
              </tr>

              <tr>
                <td>#12468</td>
                <td>June 29, 2020</td>
                <td>Completed</td>
                <td>$364.00</td>
                <td><a href="#" class="view__order">View</a></td>
              </tr>

              <tr>
                <td>#1357</td>
                <td>August 02, 2020</td>
                <td>Completed</td>
                <td>$280.00</td>
                <td><a href="#" class="view__order">View</a></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="tab__content" content id="update-profile">
          <h3 class="tab__header">Update Profile</h3>

          <div class="tab__body">
            <form action="" class="form grid">
              <input
                type="text"
                placeholder="Username"
                class="form__input"
              />

              <div class="form__btn">
                <button class="btn btn--md">Save</button>
              </div>
            </form>
          </div>
        </div>

        <div class="tab__content" content id="address">
          <h3 class="tab__header">Shipping Address</h3>

          <div class="tab__body">
            <address class="address">
              3522 Interstate <br/>
              75 Business Spur, <br/>
              Sault Ste. <br/>
              Marie, MI 49783
            </address>
            <p class="city">New York</p>
            <a href="" class="edit">Edit</a>
          </div>
        </div>

        <div class="tab__content" content id="change-password">
          <h3 class="tab__header">Change Password</h3>

          <div class="tab__body">
            <form action="" class="form grid">
              <input
                type="password"
                placeholder="Current Password"
                class="form__input"
              />

              <input
                type="password"
                placeholder="New Password"
                class="form__input"
              />

              <input
                type="password"
                placeholder="Confirm Password"
                class="form__input"
              />

              <div class="form__btn">
                <button class="btn btn--md">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--=============== NEWSLETTER ===============-->
  <section class="newsletter section">
    <div class="newsletter__container container grid">
      <h3 class="newsletter__title flex">
        <img
          src="../../../../assets/img/icon-email.svg"
          alt=""
          class="newsletter__icon"
        />
        Sign up to Newsletter
      </h3>

      <p class="newsletter__description">
        ...and receive $25 coupon for first shopping.
      </p>

      <form action="" class="newsletter__form">
        <input
          type="text"
          placeholder="Enter your email"
          class="newsletter__input"
        />
        <button type="submit" class="newsletter__btn">Subscribe</button>
      </form>
    </div>
  </section>
</main>
