.quantity-control__value {
  margin: 0 15px;
}

.pointerCursor {
  cursor: pointer;
}
.cart{
  margin: 10px 0;
  background-color: #fff;;
  //padding: 60px 0;
  border-radius: 10px;

}

.total-price{
  padding-bottom: 15px;
}
.cart-item{
  background-color: #F6F5FA;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.center-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart-item img{
  width: 115px;
}
.cart-item h5{
  padding: 0 45px;
}
.cart-item .remove-item{
  width: 25px!important;
}
.btn-default{
  background-color: #fff;
}
.cart-item .form-control{
  background-color: #F6F5FA;
  border: none;
  width: 65px;
  border-radius: 10px!important;
  font-weight: 700;
  font-size: 20px;
}
.input-group{
  width: unset;
  flex-wrap: nowrap;
}
.status{
  text-align: right;
}
.check-out{
  //float: right;
  padding: 10px 30px;
  font-size: 19px;
  background-color: #2FBE70;
  border: none;
}




.custom-according-button-style {
  background-color: hsl(129, 44%, 94%);
  border-color: hsl(129, 44%, 80%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
