<!--=============== MAIN ===============-->
<main class="main">
  <!--  <app-breadcrumb></app-breadcrumb>-->
  <!--=============== LOGIN-REGISTER ===============-->
  <section class="login-register section--lg">
    <div class="login-register__container container grid">
      <div class="login">
        <h3 class="section__title">Login</h3>

        <form action="" class="form grid" [formGroup]="loginForm" (ngSubmit)="login()">
          <input
            type="email"
            placeholder="Your Email"
            formControlName="username"
            class="form__input"
          />

          <input
            type="password"
            placeholder="Your Password"
            formControlName="password"
            class="form__input"
          />

          <div class="form__btn">
            <button class="my-btn" type="submit">Login</button>
          </div>
        </form>
      </div>

      <div class="register">
        <h3 class="section__title">Create an Account</h3>

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="form grid">
          <input type="text" placeholder="Username" class="form__input" formControlName="username"/>

          <input type="email" placeholder="Your Email" class="form__input" formControlName="email"/>

          <input type="firstName" placeholder="Your FirstName" class="form__input" formControlName="firstName"/>


          <input type="lastName" placeholder="Your LastName" class="form__input" formControlName="lastName"/>


          <input type="password" placeholder="Your Password" class="form__input" formControlName="password"/>

          <input type="password" placeholder="Confirm Password" class="form__input" formControlName="confirmPassword"/>

          <div class="form__btn">
            <button type="submit" class="my-btn">Register</button>
          </div>
        </form>
      </div>


      <!--      <div class="register">-->
      <!--        <h3 class="section__title">Create an Account</h3>-->

      <!--        <form action="" class="form grid">-->
      <!--          <input type="text" placeholder="Username" class="form__input"/>-->

      <!--          <input-->
      <!--            type="email"-->
      <!--            placeholder="Your Email"-->
      <!--            class="form__input"-->
      <!--          />-->

      <!--          <input-->
      <!--            type="password"-->
      <!--            placeholder="Your Password"-->
      <!--            class="form__input"-->
      <!--          />-->

      <!--          <input-->
      <!--            type="password"-->
      <!--            placeholder="Confirm Password"-->
      <!--            class="form__input"-->
      <!--          />-->

      <!--          <div class="form__btn">-->
      <!--            <button class="my-btn">Submit & Register</button>-->
      <!--          </div>-->
      <!--        </form>-->
      <!--      </div>-->
    </div>
  </section>

</main>
