<!--=============== MAIN ===============-->
<main class="main">
  <app-breadcrumb></app-breadcrumb>
  <!--=============== WISHLIST ===============-->
  <section class="wishlist section--lg container">
    <div class="table__container">
      <table class="table">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock Status</th>
          <th>Action</th>
          <th>Remove</th>
        </tr>

        <tr>
          <td>
            <img
              src="../../../../assets/img/product-1-2.jpg"
              alt=""
              class="table__img"
            />
          </td>

          <td>
            <h3 class="table__title">
              J.Crew Mercantile Women's Short-Sleeve
            </h3>
            <p class="table__description">
              Maboriosam in a tonto nesciung eget distingy magndapibus.
            </p>
          </td>

          <td><span class="table__price">$110</span></td>

          <td><span class="table__stock">In Stock</span></td>

          <td><a href="" class="btn btn btn--sm">Add to Cart</a></td>

          <td><i class="fi fi-rs-trash table__trash"></i></td>
        </tr>

        <tr>
          <td>
            <img
              src="../../../../assets/img/product-7-1.jpg"
              alt=""
              class="table__img"
            />
          </td>

          <td>
            <h3 class="table__title">Amazon Essentials Women's Tank</h3>
            <p class="table__description">
              Maboriosam in a tonto nesciung eget distingy magndapibus.
            </p>
          </td>

          <td><span class="table__price">$110</span></td>

          <td><span class="table__stock">In Stock</span></td>

          <td><a href="" class="btn btn btn--sm">Add to Cart</a></td>

          <td><i class="fi fi-rs-trash table__trash"></i></td>
        </tr>

        <tr>
          <td>
            <img
              src="../../../../assets/img/product-2-1.jpg"
              alt=""
              class="table__img"
            />
          </td>

          <td>
            <h3 class="table__title">
              Amazon Brand - Daily Ritual Women's Jersey
            </h3>
            <p class="table__description">
              Maboriosam in a tonto nesciung eget distingy magndapibus.
            </p>
          </td>

          <td><span class="table__price">$110</span></td>

          <td><span class="table__stock">In Stock</span></td>

          <td><a href="" class="btn btn btn--sm">Add to Cart</a></td>

          <td><i class="fi fi-rs-trash table__trash"></i></td>
        </tr>
      </table>
    </div>
  </section>

  <!--=============== NEWSLETTER ===============-->
  <section class="newsletter section">
    <div class="newsletter__container container grid">
      <h3 class="newsletter__title flex">
        <img
          src="../../../../assets/img/icon-email.svg"
          alt=""
          class="newsletter__icon"
        />
        Sign up to Newsletter
      </h3>

      <p class="newsletter__description">
        ...and receive $25 coupon for first shopping.
      </p>

      <form action="" class="newsletter__form">
        <input
          type="text"
          placeholder="Enter your email"
          class="newsletter__input"
        />
        <button type="submit" class="newsletter__btn">Subscribe</button>
      </form>
    </div>
  </section>
</main>
