<main class="main">
  <section class="wishlist section--lg container">
    <app-alert *ngIf="wishlistSize===0" [message]="'The Wishlist is Empty!'"></app-alert>
    <div class="table-responsive" *ngIf="wishlistSize!==0">
      <table class="my-table">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock Status</th>
          <th>Action</th>
          <th>Remove</th>
        </tr>
        <tr *ngFor="let item of wishlist">
          <td>
            <img [src]="'assets/img/'+item.productImagePath" alt="" class="my-table__img"/>
          </td>
          <td>
            <h3 class="my-table__title">{{ item.name }}</h3>
            <p class="my-table__description">{{ item.description }}</p>
          </td>
          <td><span class="my-table__price">$ {{ item.price }}</span></td>
          <td>
            <strong class="my-table__stock">
              {{ item.quantity > 0 ? 'In Stock (' + item.quantity + ')' : 'Out of Stock' }}
            </strong>
          </td>
          <td>
            <button (click)="addToCart(item)" class="my-btn" type="submit">Add to Cart</button>
          </td>
          <td><i class="fi fi-rs-trash table__trash cursorPointer " (click)="removeFromWishlist(item.id)"></i></td>
        </tr>
      </table>
    </div>
  </section>
</main>
